/* Definições de margem, borda e padding para as seções de classe info_inicial, sumario e modulos */
.info_inicial, .sumario, .modulos {
    padding: 2em;
}

.em_breve { /* Seção com a imagem que indica que um curso novo está chegando */
    /* Abaixo, em WIDTH, fica definido que a WIDTH do vídeo sempre será o que representar o menor valor entre 50em ou 100% de width */
    width: min(50em, 95%);
    margin-top: 25px;
    justify-self: center;
}

.placeholder_em_breve { /* Imagem que indica um curso novo */
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px #0ddaff;
}

/* Margem inferior para o parágrafo na seção de introdução do curso */
.intro_curso {
    margin-bottom: 10px;
}

/* Definições para que o texto dentro da tag Summary que identifica cada módulo se assemelhe a um h2 */
.titulo_modulo {
    font-size: 1.5em;
    cursor: pointer;
}

/* Definindo tipo para lista não-ordenada */
ul {
    list-style-type: disc;
}

li { /* Margem esquerda para os List Item principais */
    margin-left: 1em;
}

ol ul { /* Margem esquerda específica para a lista não-ordenada que está dentro da lista ordenada */
    margin-left: 1em;
}

/* Container com vídeo-aulas */
.aula_container {
    /* Abaixo, em WIDTH, fica definido que a WIDTH do vídeo sempre será o que representar o menor valor entre 50em ou 100% de width */
    width: min(50em, 100%);
    margin: 1em;
    background-color: #0f2541;
    border-radius: 10px;
}

/* Definições para a tag de vídeo */
video {
    max-width: 100%;
    padding: 0.5em;
    border-radius: 20px;
}

.aula_container_header { /* Definições para o header do container que exibe as aulas */
    background-color: #123456;
    border-radius: 10px 10px 0 0;
    padding: 1em;
}

.aula_container_footer { /* Definições para o footer do container que exibe as aulas */
    background-color: #123456;
    border-radius: 0 0 10px 10px;
    padding: 1em;
}

/* Definições para os links que levam para as seções de módulos e para os links de download de materiais */
.modulo_link, .download_material {
    color: #0ddaff;
}

/* Definições para os links de materiais e parágrafos que resumem o tópico do módulo */
.download_material, .sinopse_modulo {
    margin: 1em;
}