h2 { /* Alinhamento central para os subtítulos de categoria dos cursos */
    text-align: center;
}

.margem_para_textos { /* Utilizando essa classe para definir uma pequena margem para os elementos H3 e P de cada card */
    margin: 5px;
}

.categorias, .card_curso { /* Definição de margem de 25px para os links que são os cards de curso e para as áreas divididas por categoria*/
    margin: 25px;
}

.cursos_display { /* Definições para as sessões com classe "cursos_display". Aqui é criada uma FlexBox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_curso { /* Definições para os cards que exibem cada curso */
    box-shadow: 0 0 15px #0ddaff;
    border-radius: 50px 20px;
    padding: 1em;
    width: 20em;
}

/* Amplia o box-shadow quando o usuário passa com o mouse em cima, com efeito ease-in-out de transição que dura 0.2s */
.card_curso:hover {
    box-shadow: 0 0 25px #0ddaff;
    transition: box-shadow 0.2s ease-in-out;
}

.capa_curso { /* Definições para a imagem de capa de cada curso */
    max-width: 100%;
    border-radius: 50px 20px 20px 20px;
}
